@import url(./fonts.css);

/* CUSTOM-PROPS */

:root {
    --Black: #141414;
    --Dark-Grey: #1F1F1F;
    --White: #FFF;
    --Neon-Green: #C4F82A;
    --Grey: #333;
    --Inter: "Inter";
}

/* //CUSTOM-PROPS */

/* GLOBAL-STYLES */

html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--Black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* padding-top: 174px; */
    /* padding-bottom: 175px; */
    /* margin: auto; */
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* //GLOBAL-STYLES */



/* CARD-STYLE */

.card {
    /* max-width: 384px; */
    /* width: 100%; */
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
    border-radius: 12px;
    background-color: var(--Dark-Grey);
    text-align: center;
}

.card-image {
    width: 88px;
    height: 88px;
    border-radius: 999px;
    object-fit: cover;
}

.card-header {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    align-items: center;
}

.header-title {
    color: var(--White);
    font-size: 24px;
    font-family: var(--Inter);
    font-weight: 600;
    line-height: 36px;
}

.header-text {
    color: var(--Neon-Green);
    font-family: var(--Inter);
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
}

.card-desc {
    color: var(--White);
    font-family: var(--Inter);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.card-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
}

.list-item {
    width: 304px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    border-radius: 8px;
    background-color: var(--Grey);
    transition: .5s;
}

.list-link {
    color: var(--White);
    font-family: var(--Inter);
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
}

.list-item:hover {
    cursor: pointer;
}

.list-item:active {    
    background-color: var(--Neon-Green); 
}

.list-item:active .list-link {
    color: var(--Grey);
}



/* //CARD-STYLE */

